
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #fff;
  color: #636b6f;
  // font-family: 'Nunito';
  font-weight: 200;
  height: 100vh;
  margin: 0;
  background-image: url("../../public/images/back-299.png");
  background-repeat: repeat;
  background-attachment: fixed;
  // background-position: right bottom;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.m-b-md {
  margin-bottom: 30px;
}

.card-img-top {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.product-title {
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px #7db4e6;
  margin-bottom: 5%;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.m-b-md {
  margin-bottom: 30px;
}

.product-title {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px #7db4e6;
}

.product-info {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 1100px) {
  .product-info {
    flex-direction: column;
    justify-content: center;
  }
  .product-img {
    text-align: center;
  }
  .border-light {
    width: 70%;
  }
}

.border-light {
  width: 500px;
}

.card-title {
  margin-bottom: 5%;
}

.product-basic-info {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
}

.btn-warning {
  width: 30%;
}

.product-purchase {
  height: 50px;
  weight: 200px;
}

.top-button {
  height: 50px;
  weight: 200px;
}

.top-buttons {
  display: flex;
  justify-content: space-around;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  margin-top: 10%;
  text-align: center;
}

.form-item {
  margin-top: 10%;
}

.input-user-info {
  display: flex;
  justify-content: center;
  text-align: center;
}

.purchase-info {
  width: 800px;
}

@media only screen and (max-width: 1100px) {
  .purchase-info {
    width: 500px;
  }
}

.success-purchase {
  text-align: center;
  // margin-top: 20%;
}

.success-purchase-message {
  font-size: 30px;
}